<div class=container>
    <h2><a href="/leaderboard">VIEW LEADERBOARD</a></h2>
    <font color=#00d000><i class="material-icons md-128">flag</i></font>
    <img class="img-home" src='/images/{{image}}'>
    <font color=#d00000><i class="material-icons md-128">flag</i></font>
    </br>
</div>