<div class=container>
    <h2><a href="/leaderboard">Leaderboard</a></h2>
    <form method="post">
    <button type="button">
        <font color=#00d000>
            <i class="material-icons md-128">flag</i>
        </font>
    </button>
    <img class="img-leaderboard" src='/images/{{image}}'>
    <button type="button">
        <font color=#d00000>
            <i class="material-icons md-128">flag</i>
        </font>
    </button>
    </br>
    </form>
</div>