<div class=container>
  <h2>LEADERBOARD</h2>

  <ol>
    {{!-- {{#each cars}} --}}
    <div class="app">
      <li>
        <p>placeholder</p>
        {{!-- <a href="/driver/{{id}}">{{carModel}} - {{driverName}}</a> --}}
      </li>
    </div>
    {{!-- {{/each}} --}}
  </ol>
</div>