<div class=container>
    <h2>LEADERBOARD</h2>
    <font color=#00d000><i class="material-icons md-128">flag</i></font>
    <img class="img-leaderboard" src='/images/{{image}}'>
    <font color=#d00000><i class="material-icons md-128">flag</i></font>
    </br>
    {{#each cars}}
    <div class="app">
      <a href="/driver/{{id}}">{{carModel}} - {{driverName}}</a>
    </div>
    {{/each}}
</div>