body {
    background-image: "/images/race-track-flag.jpg"
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
}

p {
    font-size: 14px;
}

h1 {
    font-size: 48px;
    font-weight: bold;
}

h2 {
    font-size: 36px;
    font-weight: bold;
}

h3 {
    font-size: 26px;
    font-weight: bold;
}

.app {
    display: flex;
    flex-direction: column;
}

.nav {
    text-align: center;
    color: black;
}

<i class="material-icons">
flag
</i>

<i class="material-icons">
outlined_flag
</i>