<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>BURNING RUBBER</title>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <div class="app" align=center>
        <h1 class="title">BURNING RUBBER</h1>
        {{{body}}}

    </div>
</body>

</html>