body {
    
    background-image: url("/images/burnout_smoke.png");
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
}

a { text-decoration: none;}
a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: none; color:black; }
a:focus { text-decoration: none; color:black; }
a:hover, a:active { text-decoration: none; color:black }

h1 {
    font-size: 60px;
    font-weight: bold;
    font-family: 'Titillium Web', sans-serif;
}

h2 {
    font-size: 44px;
    font-weight: bold;
    font-family: 'Titillium Web', sans-serif;
}

h3 {
    font-size: 26px;
    font-weight: bold;
    font-family: 'Titillium Web', sans-serif;

}

p {
    font-size: 14px;
    font-family: 'Titillium Web', sans-serif;
}

.app {
    display: flex;
    flex-direction: column;
}

.nav {
    text-align: center;
    color: black;
}

.img-leaderboard {
    border-style: dotted;
    border-color: black;
    border-width: 6px;
}

.material-icons.md-128 {
    font-size: 128px;
}