body {
    
    background-image: url("/images/burnout_smoke.png");
    background-repeat: no-repeat;
    background-size: auto;
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
}

a { text-decoration: none;}
a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: none; color:black; }
a:focus { text-decoration: none; color:black; }
a:hover, a:active { text-decoration: none; color:black }

h1 {
    border: 5px solid black;
    border-radius: 15px;
    max-width: 750px;
    min-width: 400px;
    font-size: 72px;
    font-family: 'Titillium Web', sans-serif;
}

h2 {
    font-size: 50px;
    font-weight: bold;
    font-family: 'Titillium Web', sans-serif;
}

h3 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Titillium Web', sans-serif;

}

p {
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
}

.app {
    display: flex;
    flex-direction: column;
}

.nav {
    text-align: center;
    color: black;
}

img {
    object-fit: cover;
}

.img-home {
    /* border-style: dotted;
    border-color: black;
    border-width: 6px; */
    max-width: 500px;
}

.img-leaderboard {
    max-width: 64px;
}

.material-icons.md-128 {
    font-size: 128px;
}

ol {
    margin-left: 300px;
    margin-right: 300px;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
}